@model ArticleListingViewModel

@{
    ViewData["Title"] = "News";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>
<form asp-area="" asp-controller="Home" asp-action="Search">
    <div class="row">
            <div class="col-md-4 col-md-offset-6">
                <input required asp-for="SearchText" class="form-control clearfix" placeholder="Search..." />
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn center-block clearfix btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
            </div>
    </div>
</form>
<br />

<div class="row">

    @foreach (var article in Model.Articles)
    {
        <div class="col-sm-3 thumbnail">
            <div class="text-center">
                <h3 class="article-title">@article.Title</h3>
                <img src="@article.ThumbnailUrl" class="img-responsive" alt=""/>
                <ul class="list-group">
                    <li class="list-group-item"><b>Release Date:</b> @article.PublishDate.ToShortDateString()</li>
                    <li class="list-group-item"><b>Author:</b> @article.Author</li>
                </ul>
                <a class="btn btn-success" asp-controller="News" asp-action="Details" asp-route-id="@article.Id">Details</a>
            </div>
        </div>
    }
</div>
@if (Model.TotalArticles > Model.Articles.Count())
{
    <ul class="pagination">
        <li class="page-item "><a class="page-link btn" asp-route-page="@Model.PreviousPage">Previous</a></li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.CurrentPage == i ? "active" : string.Empty) "><a class="page-link btn" asp-route-page="@i">@i</a></li>
        }
        <li class="page-item"><a class="page-link btn" asp-route-page="@Model.NextPage">Next</a></li>
    </ul>
}
