@model UserListingsViewModel
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "User Administration";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<br />
<table class="table table-responsive table-hover table-bordered">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                E-mail
            </th>
            <th>
                Actions and Roles
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <th>
                    @user.Username
                </th>
                <th>
                    @user.Email
                </th>
                <th>
                    <form>
                        @{
                            var userById = await UserManager.FindByIdAsync(user.Id);
                            var userRoles = await UserManager.GetRolesAsync(userById);
                        }
                        <div class="row">
                            <div class="col-md-12 checkbox-inline">
                                <input type="hidden" name="UserId" value="@user.Id" />
                                @foreach (var role in Model.Roles)
                                {
                                    if (userRoles.Contains(role.Text))
                                    {
                                        <label><input type="checkbox" name="Roles" value="@role.Value" checked/>@role.Text</label><br/>
                                    }
                                    else
                                    {
                                        <label><input type="checkbox" name="Roles" value="@role.Value"/>@role.Text</label><br/>
                                    }
                                }
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-sm btn-success" type="submit" asp-area="Admin" asp-controller="Users" asp-action="ManageRole" formmethod="post">
                                    Save Roles
                                </button>
                            </div>
                            @if (User.IsInRole(WebConstants.AdministratorRole) && user.Username != User.Identity.Name)
                            {
                                <div class="col-md-4 col-md-offset-4">
                                    <button class="btn btn-sm btn-danger" type="submit" asp-area="Admin" asp-controller="Users" asp-action="DeleteUser" formmethod="post">
                                        Delete User
                                    </button>
                                </div>
                            }
                        </div>
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalUsers > Model.Users.Count())
{
    <div class="text-center">
        <ul class="pagination">
            <li class="page-item "><a class="page-link btn" asp-route-page="@Model.PreviousPage">Previous</a></li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : string.Empty) "><a class="page-link btn" asp-route-page="@i">@i</a></li>
            }
            <li class="page-item"><a class="page-link btn" asp-route-page="@Model.NextPage">Next</a></li>
        </ul>
    </div>
}