@model UserManageRoleForm
@{
    ViewData["Title"] = $"Manage Roles on User - {Model.Username}";
}

<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
    <hr/>
        @using (Html.BeginForm())
        {
            @Html.Hidden("UserId", Model.UserId)
            @foreach (var role in Model.UserCurrentRoles)
            {
                @Html.Hidden("UserCurrentRoles", role)
            }
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <h3>Current Roles:</h3>
                    @if (Model.UserCurrentRoles != null)
                    {
                        @foreach (var item in Model.UserCurrentRoles)
                        {
                            <p>@item</p>
                        }
                    }
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <h3>New Roles:</h3>
                        @foreach (var role in Model.Roles)
                        {
                            <label><input type="checkbox" name="UserNewRoles" value="@role" /> @role</label><br/>
                        }
                </div>   
            </div>
            <br/>
            <button type="submit" class="btn btn-danger" asp-area="Admin" asp-controller="Users" asp-action="Manage" formmethod="post">Change Roles</button>
            <button class="btn btn-primary" asp-action="Index" asp-controller="Users">Cancel</button>
        }
        <br/>
</div>